body {
  background: #eee;
  color: #666666;
}

.login_form{
	margin-top: 25%;
}

#alert_warning{
	text-align: center;
	margin-top: 10%;
}

#warning{
	text-align: center;
	margin-top: 10%;
}

.new_post{
	text-align: center;
}

.post_list{
	height: 600px;
}

.bloc-emploi{
	width: 300px;
	height: 200px;
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	background-color: #CCC;
}

#slide-7{
	background-color: #CCC;
}

.post_list h1{
	color: white;
}


.thumbnail h2{
color: white;
}

.thumbnail h5{
	  color: white;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    height: 200px;
    background-color: #666666;
    margin-top: 20px;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover .caption {
    top:0%;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.post_list h3{
    margin-left: 50px;
    margin-top: 50px; 
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    width: 450px;
}

.job-board{
    margin-left: 50px;
}

.job-board li{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
list-style: none;
border-bottom: 1px solid #d4d4d4;
}

.job-board :hover{
    background-color: white;
}

.job-board ul{
    width: 450px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.job-board span{
    float: right;
    text-align: right;
}