<template name="mainLayout">

 <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>WWSight - Conseil IT</title> 
	<meta property="og:title" content="">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="prefetch" href="public/images/zoom.png">

							<!-- SCRIPTS -->

	<script src="html5shiv.js"></script>
	<script src="jquery-1.10.2.min.js"></script>
	<script src="jquery-migrate-1.2.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="jquery.easing.1.3.js"></script>
	<script src="script.js"></script>
<!--
	<script type="text/javascript">
		$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
});
	</script> -->

								<!-- FIN SCRIPTS -->

</head>

<body>
        {{> yield }}
        <!--
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>-->

</body>
    
	

</template>

