<template name="index">


	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">ABOUT US</span></a></li>
					<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-7" href="#slide-7" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">EMPLOI</span></a></li>
					<li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">PROCESS</span></a></li>
					<li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-heart"></span> <span class="text">CLIENTS</span></a></li>
					<li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
					<li>{{#if currentUser}}  {{> loginButtons }} {{/if}}</li>

				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	
	
	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up" class="disabled"></div>
		<div id="arrow-down"></div>
		<div id="arrow-left" class="disabled visible-lg"></div>
		<div id="arrow-right" class="disabled visible-lg"></div>
	</div><!-- /.arrows -->
	
	
	<!-- === MAIN Background === -->
	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">WWSIGHT</h1>
					<h4 class="font-thin">Our Job is to make yours better</h4>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
			<div id="home-row-2" class="row clearfix">
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="images/s02.png"></div><span>SAVOIR-FAIRE</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="images/s01.png"></div><span>NOS PROJETS</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="7"><img src="images/s03.png"></div><span>EMPLOIS</span></div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">A PROPOS DE WWSIGHT</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div style="font-size:1.5em;">
				<br>
			<p>
			Composée d'ingénieurs expérimentés en informatique et réseaux,
			<br> WWSIGHT est experte en nouvelles technologies et en gestion de projets IT.
			<br> Nous vous apportons notre savoir pour améliorer votre productivité et développer vos affaires.
		</p>
		<p>
			Notre préoccupation est votre satisfaction, la qualité de notre travail et le respect de vos délais.
			<br>Nous mettons tout en œuvre pour la plus grande transparence sur l’avancement de nos travaux
			<br>en vous proposant de suivre nos réalisations en ligne avec un accès privilégié à nos serveurs.
		</p>
		<p>
			Afin de vous livrer la solution répondant au mieux à vos attentes, nous travaillons de manière agile,
			<br> et prenons en compte vos retours, suggestions, tout au long du développement du produit.
		</p>
		<p>Bienvenue, nous partageons notre point de vue et nos connaissances.</p>
		</div>

		</div><!-- /container -->
	</div><!-- /slide2 -->
	
	<!-- === SLide 3 - Portfolio -->
	<!-- <div class="slide story" id="slide-3" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p01-large.jpg"><img class="thumb" src="images/portfolio/p01-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p02-large.jpg"><img class="thumb" src="images/portfolio/p02-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p09-large.jpg"><img class="thumb" src="images/portfolio/p09-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p010-large.jpg"><img class="thumb" src="images/portfolio/p10-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p05-large.jpg"><img class="thumb" src="images/portfolio/p05-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p06-large.jpg"><img class="thumb" src="images/portfolio/p06-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p07-large.jpg"><img class="thumb" src="images/portfolio/p07-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p08-large.jpg"><img class="thumb" src="images/portfolio/p08-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p03-large.jpg"><img class="thumb" src="images/portfolio/p03-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p04-large.jpg"><img class="thumb" src="images/portfolio/p04-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="images/portfolio/p11-large.jpg"><img class="thumb" src="images/portfolio/p11-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox"><h1>TEST</h1></a></div> 

		</div> --> <!-- /row -->
	<!--</div>--><!-- /slide3 -->
	
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">See us <span class="font-semibold">at work</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2">
					<p><i class="icon icon-bolt"></i></p>
					<h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><i class="icon icon-cog"></i></p>
					<h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><i class="icon icon-cloud"></i></p>
					<h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><i class="icon icon-map-marker"></i></p>
					<h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2">
					<p><i class="icon icon-gift"></i></p>
					<h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
					<h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
				</div><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide4 -->
	
	<!-- === Slide 5 === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">Clients</span> we’ve worked with</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br/><br/> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2"><img src="images/client01.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client02.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client03.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client04.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="images/client05.png" alt=""></div>
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide5 -->

  <!-- === Slide 6 / Contact === --> 
	<!-- /Slide 6 -->


<div class="slide story " id="slide-7" data-slide="7">

    <h1 class="font-thin">Offres d'emplois </h1> 

    


 {{#if currentUser}}
 <div> <h2> Ajouter emploi <a class="glyphicon glyphicon-plus " id="njob" data-toggle="modal" data-target="#newJob" style="cursor:pointer; "></a></h2>
</div>
        
 					<!---         Modal NEW JOB 			-->

<div class="modal fade" id="newJob" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newJobModalLabel">Nouvel Emploi</h4>
      </div>
      <div class="modal-body">
        
    <form class="main form page" id="newJob">
        <div class="form-group">
          <label class="control-label" for="auteur">Auteur</label>
          <div class="controls">
              <input name="auteur" id="auteur" type="text" value="" placeholder="Auteur" class="form-control"/>
            </div>
        </div>
      <div class="form-group">
          <label class="control-label" for="titre">Titre du poste</label>
          <div class="controls">
              <input name="titre" id="titre" type="text" value="" placeholder="Titre du poste" class="form-control" required="required"/>
            </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="contenu">Description</label>
          <div class="controls">
              <input name="contenu" id="contenu" type="text" value="" placeholder="Description du poste" class="form-control">
            </div>
        </div>


        <div class="form-group">
          <label class="control-label" for="date">Date</label>
          <div class="controls">
              <input name="date" id="date" type="text" value="" placeholder="jj/mm/aaaa" class="form-control"/>
            </div>
        </div>

         <div class="form-group">
          <label class="control-label" for="date">Lieu</label>
          <div class="controls">
              <input name="lieu" id="lieu" type="text" value="" placeholder="Lieu du poste" class="form-control"/>
            </div>
        </div>

      <input type="submit" value="Submit" id="newJob" class="btn btn-primary"/>
    </form>
              
  </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
      </div>



   							<!-- FIN MODAL NEW JOB -->
        
{{/if}}
		<div class="row">
		
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="post_list">
			<h3>Annonces</h3>
                {{#each posts}}
				 
                <div class="job-board">

                	<ul>
                		<li> <a data-toggle="modal" data-target="#ficheJob{{_id}}">{{title}}</a> 
                			<span>{{lieu}}{{#if currentUser}} 
				              <a data-toggle="modal" data-target="#myModal{{_id}}" style="cursor: pointer;" class="glyphicon glyphicon-pencil">
				            </a>
				            {{/if}}
				        </span>	
                		</li>
                	</ul>

                </div>

                <!-- MODAL FICHE EMPLOI-->

<div class="modal fade" id="ficheJob{{_id}}" tabindex="-1" role="dialog" aria-labelledby="ficheJobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ficheJobModalLabel">{{title}}</h4>
      </div>
      <div class="modal-body new_post">
      		<p> <strong> {{ author}}, le {{date}}, à {{lieu}}</strong> </p>

      		<p> {{ description}} </p>
      </div>
     <div class="modal-footer">
     	<button type="button" class="btn btn-success glyphicon glyphicon glyphicon-paperclip" data-dismiss="modal"> Postuler </button>
     	<button type="button" class="btn btn-primary glyphicon glyphicon-download-alt" data-dismiss="modal"> Télécharger</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

	

                	<!--
				         <div class="col-md-3">           
				            <div class="thumbnail">
				                <div class="caption">
				                    <h4>{{title}}</h4>
				                    <p>{{ author }}</p>
				                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Voir</a>
				                    <a href="" class="label label-default" rel="tooltip" title="Download now">Télécharger</a>
				                    {{#if currentUser}} 
				                    <a data-toggle="modal" data-target="#myModal{{_id}}" style="cursor: pointer; color: white;" class="glyphicon glyphicon-pencil"></a>{{/if}}</p>
				                    
				                </div>
				                 <h2>{{ title }}</h2>
				                 
				                 <h5>{{ description }}</h5>
				            </div>
				      </div>    -->



								<!-- Modal EDIT EMPLOI-->

		<div class="modal fade" id="myModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Edit</h4>
		      </div>
		      <div class="modal-body">
		          <form class="main form page" id="edit_job">
    				<div class="form-group">
     				 <label class="control-label" for="auteur">Auteur</label>
     					 <div class="controls">
         					 <input name="auteur" id="auteur" type="text" value="{{author}}" placeholder="auteur" class="form-control"/>
      					</div>
    				</div>
    		<div class="form-group">
      			<label class="control-label" for="title">Titre</label>
      				<div class="controls">
        				<input name="title" id="title" type="text" value="{{title}}" placeholder="Nommez votre post" class="form-control"/>
      				</div>
    		</div>

    		<div class="form-group">
      			<label class="control-label" for="content">Description</label>
      				<div class="controls">
        				<input name="content" id="contenu" type="text" value="{{description}}" placeholder="Description" class="form-control"/>
      				</div>
    		</div>

    		<div class="form-group">
          <label class="control-label" for="date">Date</label>
          <div class="controls">
              <input name="date" id="date" type="text" value="{{date}}" placeholder="jj/mm/aaaa" class="form-control"/>
            </div>
        </div>


         <div class="form-group">
          <label class="control-label" for="date">Lieu</label>
          <div class="controls">
              <input name="lieu" id="lieu" type="text" value="{{lieu}}" placeholder="Lieu du poste" class="form-control"/>
            </div>
        </div>

    			<input  type="submit" value="Submit" id="edit_job" class="btn btn-primary submit"/>    			

  					</form>

		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-danger delete">Supprimer le post</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal" id="{{_id}}">Close</button>

		      </div>
		    </div>
		  </div>
		</div>
	{{/each}}

			 </div>
			</div>
								<!-- FIN Modal EDIT EMPLOI-->

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-right:50px; padding-left:50px;"> 
		
		<center>
			<h2> Notre philosophie </h2>
				<p> Vous êtes un technicien ou un informaticien surdoué, une star des ventes, un marketer né ? Toute personne qui travaille chez Teads éprouve le désir profond de montrer la voie et de transformer la publicité vidéo. Notre réussite tient à notre valorisation de la diversité et à nos efforts pour développer une culture d’entreprise gratifiante et propre à WWSIGHT</p>

				<p> C’est pourquoi nous avons été élus comme une des meilleures entreprises où il fait bon travailler (récompense du Great Place to Work en 2012). Travailler chez WWSIGHT signifie que vous serez entouré de personnes compétentes, passionnées et toujours partantes pour s’amuser. Par conséquent si vous souhaitez avoir un impact dans l’univers de la publicité vidéo et découvrir comment les marques touchent leurs consommateurs et interagissent avec eux, il y a une place pour vous chez nous.</p>

				<p> WWSIGHT a été fondé dans l’optique de développer la plateforme de publicité vidéo la plus performante au monde. Aujourd’hui, les marques les plus réputées au niveau international travaillent avec nous. Pour continuer à construire et commercialiser ces technologies de pointe, nous sommes constamment à la recherche de personnes compétentes.</p>
	</center>
</div>
		

		</div>
		</div> <!--FIN slide 7 -->



		<!-- SLIDE STAFF -->

<div class="slide story" id="slide-staff" data-slide="8">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin"><span class="font-semibold">Équipe WWSIGHT</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">L'ensemble de nos collaborateurs sont là pour vous satisfaire,
				répondre à vos besoins, et vous assurer une qualité de service sans faille.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			
			<!-- <div class="row content-row">
				{{#if currentUser}}
					Nouveau Membre <a class="glyphicon glyphicon-plus " id="nMembre" data-toggle="modal" data-target="#newStaffModal" style="cursor:pointer;"></a>

						<div class="modal fade" id="newStaffModal" tabindex="-1" role="dialog" aria-labelledby="newStaffModalModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="newStaffModalModalLabel">Nouveau Membre</h4>
						      </div>
						      <div class="modal-body new_post">
						        

						    <form class="main form page" id="newStaffForm">
						        <div class="form-group">
						          <label class="control-label" for="firstname">Prénom</label>
						          <div class="controls">
						              <input name="firstname" id="firstname" type="text" value="" placeholder="Prénom" class="form-control"/>
						            </div>
						        </div>
						      <div class="form-group">
						          <label class="control-label" for="name">Nom</label>
						          <div class="controls">
						              <input name="name" id="name" type="text" value="" placeholder="Nom" class="form-control" required="required"/>
						            </div>
						        </div>

						        <div class="form-group">
						          <label class="control-label" for="job">Poste Occupé</label>
						          <div class="controls">
						              <input name="job" id="job" type="text" value="" placeholder="Poste occupé" class="form-control">
						            </div>
						        </div>


						        <div class="form-group">
						          <label class="control-label" for="date">Compétences</label>
						          <div class="controls">
						              <input name="skills" id="skills" type="text" value="" placeholder="Compétences" class="form-control"/>
						            </div>
						        </div>

						         <div class="form-group">
						          <label class="control-label" for="date">Tags</label>
						          <div class="controls">
						              <input name="tags" id="tags" type="text" value="" placeholder="Projets réalisés / participation" class="form-control"/>
						            </div>
						        </div>

						      <input type="submit" value="Submit" id="newStaff" class="btn btn-primary"/>
						    </form>
						              
						  </div>
						     <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						      </div>
						    </div>
						  </div>
						</div> 

				{{/if}}

				<h2>Membres</h2>
				{{#each staff}}
				{{name}}
				{{/each}}
			</div> -->
		</div><!-- /container -->
	</div><!-- /SLIDE STAFF -->





      <!-- === Slide 6 / Contact === --> 
	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">You can find us literally anywhere, just push a button and we’re there</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
					<span class="hover-text font-light ">+44 4839-4343</span>
				</div> <!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">munter@blacktie.co</span>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
					<span class="hover-text font-light ">London, England<br>zip code 98443</span>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
					<span class="hover-text font-light ">facebook/blacktie_co</span>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
					<span class="hover-text font-light ">@BlackTie_co</span>
				</div><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Slide 6 -->


<footer style="height: 100px; width:100%;">
<a href="{{pathFor 'login'}}"><h2>Admin</h2></a>
</footer>


</template>