
<template name="login">

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" id="login">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="loginEmail" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="loginPassword" type="password" value="">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                    </form>

                        <hr>
                        <div class="alert alert-danger animated fadeOut hidden" role="alert" id="errorMessage">Login failed!</div>    
                </div>
            </div>
        </div>
    </div>
</div>


</template>