<template name="notFound">
	<div class="container">

	<div id="alert_warning">
      	<h2>404</h2>
      	<p>Désolé, nous ne pouvons pas trouver une page à cette adresse.</p>
	</div>

      <div id="warning"><img src="Warning.png"></div>
     </div>
 </template>
